{
  "jsc": {
    "parser": {
      "syntax": "typescript",
    },
    "baseUrl": "../..",
    "paths": {
        "@org/dep-a": ["dep-a/src/index.js"],
        "@org/dep-b": ["dep-b/src/index.js"],
        "@org/test": ["test/src/index.js"]
    },
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  },
  "sourceMaps": true,
  "exclude": [
    "jest.config.ts",
    ".*\\.spec.tsx?$",
    ".*\\.test.tsx?$",
    "./src/jest-setup.ts$",
    "./**/jest-setup.ts$",
    ".*.js$"
  ]
}
